* {
    margin: 0;
    padding: 0;
}

.header {
    text-align: center;
    left: 50%;
    margin-bottom: 40px;
    margin-top: 40px;
    font-family: 'Poppins', sans-serif;
    font-size: 60px;
    color: #fff;
}

/* input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    color: #fff;
}

submit button
input[type=submit] {
    background-color: #a6bcb1;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

submit button hover
input[type=submit]:hover {
    background-color: #80A090;
}

Form background color & layout
.container {
    display: flex;
    justify-content: center;
    padding: 20px;
    font-family: sans-serif;
} */

.background {
    background-image: url(../images/Artboard\ 1.jpg);
    height: 100vh;
    background-size: 100% 100%;
    position: relative;
}

.text-area-1 {
    display: flex;
    justify-content: center;
    color: #fff;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    margin-left: 100px;
    margin-right: 100px;
}
.text-area-2 {
    display: flex;
    justify-content: center;
    color: #fff;
    font-size: 20px;
}