* {
    margin: 0;
    padding: 0;
}

.homepage i {
    display: block;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 100px;
}

.contact h3 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 55px;
    text-transform: capitalize;
}

.centre-block {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    width: 100%;
    color: #fff;
}

@media only screen and (orientation: landscape) {
    .background {
        background-image: url(../images/Artboard\ 1.jpg);
        height: 100vh;
        position: relative;
        background-size: cover;
        background-position: center top;
    }
}

@media only screen and (orientation: portrait) {
    .background {
        background-image: url(../images/my\ portfolio\ home\ page\ image\ portrait.jpg);
        height: 100vh;
        background-size: 100% 100%;
        position: relative;
        background-size: cover;
        background-position: center top;
    }
    img {
        width: 80%;
    }

    .centre-block {
        top: 35%;
    }
}

