* {
    margin: 0;
    padding: 0;
}

.homepage h1 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 55px;
    font-weight: 300;
    text-transform: capitalize;
}

.homepage h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 45px;
    font-weight: 300;
    text-transform: capitalize;
}

@media only screen and (orientation: portrait) {
    .homepage h1 {
        font-size: xx-large;
        margin-bottom: 10%;
    }
    .homepage h2 {
        font-size: x-large;
    }
}

.homepage i {
    display: block;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 100px;
}

.contact h3 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 55px;
    text-transform: capitalize;
}


@media only screen and (orientation: landscape) {
    .background {
        background-image: url(../images/Artboard\ 1.jpg);
        height: 100vh;
        /* background-size: 100% 100%; */
        position: relative;
        background-size: cover;
        background-position: center top;
    }
}

@media only screen and (orientation: portrait) {
    .background {
        /* background-image: url(../images/Artboard\ 1.jpg); */
        background-color: black;
        height: 100vh;
        /* background-size: 100% 100%; */
        position: relative;
        background-size: cover;
        background-position: center top;
    }
}

.centre-block {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    width: 100%;
    color: #fff;
}