* {
    margin: 0;
    padding: 0;
}

.header {
    text-align: center;
    left: 50%;
    margin-bottom: 40px;
    margin-top: 40px;
    font-weight: 400;
    font-size: 45px;
}

.slides {
    display: flex;
    justify-content: space-around;
    margin-bottom: 25px;
}

.popup {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    justify-content: center;
    align-items: center;
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    background-color: rgb(0, 0, 0);
    /*Fallback color*/
    background-color: rgba(0, 0, 0, 0.8);
    /*Black w/ opacity*/
    opacity: 0;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    margin: auto;

}

.container {
    height: 300px;
    width: 300px;
    margin: 20px;
    position: relative;
}

.wrapper .container img {
    height: 300px;
    width: 300px;
    margin: 20px;
    object-fit: cover;
}

.center {
    display: flex;
    justify-content: center;
}