* {
    margin: 0;
    padding: 0;
}

.header {
    text-align: center;
    left: 50%;
    margin-bottom: 40px;
    margin-top: 40px;
    font-weight: 400;
    font-size: 45px;
    color: #9bb1ac;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    margin: auto;
}

@media only screen and (orientation: portrait) {
    .wrapper {
        grid-template-columns: repeat(1, 1fr);
    }
}

.container {
    height: 300px;
    width: 300px;
    margin: 20px;
    position: relative;
}

.wrapper .container img {
    height: 300px;
    width: 300px;
    object-fit: cover;
}

.center {
    display: flex;
    justify-content: center;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

.container:hover .image {
    opacity: 0.3;
}

.container:hover .middle {
    opacity: 1;
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.text {
    color: #5d6a67;
    font-size: 20px;
    padding: 16px 32px;
    text-align: center;
}